APP_URL=https://gift-card-store-backend.onrender.com/
BASE_URL=https://api.dev.myhubble.money
CLIENTID=c2pventures-s2875pQo
CLIENTSECRET=Q4fQu5IsEklbt9szzcjaEP7qAyl4Ws9VIIDEA41V9fFq9aKRcHDzticyzLrKupMp
DATABASE_URL="postgresql://neondb_owner:npg_uNHqzB0Sv7ro@ep-muddy-glade-addnvf1i-pooler.c-2.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require"
PLISIO_API_KEY=nCAN9ph8JuVBPjt7BGbMsKoWV9b8fL2M87flc7R8eLG8b3N1vJKxM8kV24Wa6bHI
PORT=4000
TELEGRAM_BOT_TOKEN=8372808533:AAEmz8MX4GhZw-wvovOssUqRcOQc998n_oA